<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Référence Git</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/text.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/grid.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/layout.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/nav.css" media="screen" />
		<!--[if IE 6]><link rel="stylesheet" type="text/css" href="/css/ie6.css" media="screen" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen" /><![endif]-->
		<script type="text/javascript" src="/js/jquery-1.4.1.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/js/action.js"></script>
	</head>
	<body>
    <div class="container_12">

			<div class="grid_12">
				<span id="branding">Référence Git</span>
      </div>

			<div class="grid_12">
				<ul id="menu">
					<li><a id="menu_home" href="/fr/index.html">Référence</a></li>
          <!-- <li><a id="menu_cookbook" href="/fr/cookbook.html">Cookbook</a></li> -->
          <li><a id="menu_about" href="/fr/about.html">À Propos</a></li>
					<li>&#167;</li>
          <li><a href="https://github.com/git/git-reference">Sources du Site</a></li>
        </ul>
        <br/>
        &nbsp;
			</div>

			<div class="grid_2" id="reflist">
          <div class="block">
            <h3><a href="/fr/creating">Récupérer et Créer des Projets</a></h3>
            <ul>
              <li><a href="/fr/creating/#init">init</a></li>
              <li><a href="/fr/creating/#clone">clone</a></li>
            </ul>
					</div>

          <div class="block">
            <h3><a href="/fr/basic">Instantanés de base</a></h3>
            <ul>
              <li><a href="/fr/basic/#add">add</a></li>
              <li><a href="/fr/basic/#status">status</a></li>
              <li><a href="/fr/basic/#diff">diff</a></li>
              <li><a href="/fr/basic/#commit">commit</a></li>
              <li><a href="/fr/basic/#reset">reset</a></li>
              <li><a href="/fr/basic/#rm-mv">rm, mv</a></li>
              <li><a href="/fr/basic/#stash">stash</a></li>
            </ul>
          </div>

          <div class="block">
            <h3><a href="/fr/branching">Branche et Fusion</a></h3>
            <ul>
              <li><a href="/fr/branching/#branch">branch</a></li>
              <li><a href="/fr/branching/#branch">checkout</a></li>
              <li><a href="/fr/branching/#merge">merge</a></li>
              <li><a href="/fr/branching/#log">log</a></li>
              <li><a href="/fr/branching/#tag">tag</a></li>
            </ul>
          </div>

          <div class="block">
            <h3><a href="/fr/remotes">Partager et Mettre à Jour des Projets</a></h3>
            <ul>
              <li><a href="/fr/remotes/#remote">remote</a></li>
              <li><a href="/fr/remotes/#fetch">fetch, pull</a></li>
              <li><a href="/fr/remotes/#push">push</a></li>
            </ul>
          </div>

          <div class="block">
            <h3><a href="/fr/inspect">Inspection et Comparison</a></h3>
            <ul>
              <li><a href="/fr/inspect/#log">log</a></li>
              <li><a href="/fr/inspect/#diff">diff</a></li>
            </ul>
          </div>

          <!--
          <div class="block">
            <h3><a href="/fr/fixing">Dépannage et Modification de l'Historique</a></h3>
            <ul>
              <li><a href="/fr/fixing/rebase.html">rebase</a></li>
              <li><a href="/fr/fixing/revert.html">revert</a></li>
              <li><a href="/fr/fixing/checkout.html">checkout</a></li>
              <li><a href="/fr/fixing/reset.html">reset</a></li>
              <li><a href="/fr/fixing/cherry-pick.html">cherry-pick</a></li>
            </ul>
          </div>
          -->
			</div>

      <div class="grid_10 home_box" id="content_box">
        {{ content }}
      </div>

			<div class="clear"></div>
		</div>
  </body>
</html>
