<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Git Ref - {{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8"/>
    <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
        <h1>Git Reference</h1>
      </div>
      <div id='menu'>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/book'>Book</a></li>
          <li><a href='/blog.html'>Blog</a></li>
          <li><a href='/about.html'>About</a></li>
          <li><a href='/support.html'>Support Us</a></li>
          <li><a href='http://github.com/progit' target='_blank' rel='me'>GitHub</a></li>
          <li><a href='http://twitter.com/progitbook' target='_blank' rel='me'>Twitter</a></li>
        </ul>
      </div>
      <div id='content'>
        {{ content }}
        <div class='clearfix'></div>
      </div>
    </div>
    <div id='footer'>
    </div>
  </body>
</html>
