---
layout: master
---
<div class='post'>
  <span class='date'>{{page.date | date_to_string}}</span>
  <h1>
    <a href='http://feeds.feedburner.com/ProGitBook' class='float-right'><img src='/images/subscribe.png' alt='Subscribe'/></a>
    <a href='{{page.url}}'>{{page.title}}</a>
  </h1>
  <small>by Scott Chacon</small>
  <div class='body'>
    {{ content }}
  </div>
</div>

<div class="book-ad">
  <a href="http://www.amazon.com/gp/product/1430218339?ie=UTF8&tag=prgi-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=1430218339"><img border="0" height="55" src="http://ecx.images-amazon.com/images/I/5133mQJaUgL._SL500_AA300_.jpg"></a>
  <img src="http://www.assoc-amazon.com/e/ir?t=prgi-20&l=as2&o=1&a=1430218339" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
  <a href="http://www.amazon.com/gp/product/1430218339?ie=UTF8&tag=prgi-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=1430218339">Support this site by buying a copy of the book</a>
</div>

<div class="related">
  <h3>Related Posts</h3>
  <table class="post-list">
    {% for post in site.related_posts limit:3 %}
      <tr>
        <th><a href='{{ post.url }}'>{{ post.title }}</a></th>
        <td>{{ post.date | date_to_string }}</td>
        <td><a href='{{post.url}}#disqus_thread'>Comments</a></td>
      </tr>
    {% endfor %}
  </table>
</div>

<script type="text/javascript" charset="utf-8">
  var disqus_url = "http://progit.org/{{page.url}}";
</script>
<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/scottchacon/embed.js"></script><noscript><a href="http://scottchacon.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
