<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Git Quick Reference</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/text.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/grid.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/layout.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/nav.css" media="screen" />
		<!--[if IE 6]><link rel="stylesheet" type="text/css" href="/css/ie6.css" media="screen" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen" /><![endif]-->
		<script type="text/javascript" src="/js/jquery-1.4.1.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/js/action.js"></script>
	</head>
	<body>
    <div class="container_12">

			<div class="grid_12">
				<span id="branding">Git Quick Reference</span>
      </div>

			<div class="grid_12">
				<ul id="menu">
					<li><a id="menu_home" href="index.html">Reference</a></li>
					<li><a id="menu_recepies" href="#">Recipies</a></li>
					<li><a id="menu_about" href="#">About</a></li>
					<li>&#167;</li>
					<li><a href="http://github.com/schacon/git-reference">Site Source</a></li>
        </ul>
        <br/>
        &nbsp;
			</div>

			<div class="grid_3" id="reflist">
          <div class="block">
            <h3><a href="#">Getting and Creating Projects</a></h3>
            <h4>Starting or copying a Git repository</h4>
            <ul>
              <li><a href="#">init</a></li>
              <li><a href="#">clone</a></li>
            </ul>
					</div>

          <div class="block">
            <h3>Basic Snapshotting</h3>
            <h4>Saving your work</h4>
            <ul>
              <li><a href="#">add</a></li>
              <li><a href="#">status</a></li>
              <li><a href="#">diff</a></li>
              <li><a href="#">commit</a></li>
              <li><a href="#">rm, mv</a></li>
              <li><a href="#">reset</a></li>
            </ul>
          </div>

          <div class="block">
            <h3>Branching and Merging</h3>
            <h4>Working in contexts</h4>
            <ul>
              <li><a href="#">branch</a></li>
              <li><a href="#">merge</a></li>
              <li><a href="#">checkout</a></li>
              <li><a href="#">cherry-pick</a></li>
              <li><a href="#">log</a></li>
            </ul>
          </div>

          <div class="block">
            <h3>Sharing and Updating Projects</h3>
            <h4>Using Git to work with others</h4>
            <ul>
              <li><a href="#">fetch, pull</a></li>
              <li><a href="#">push</a></li>
            </ul>
          </div>

          <div class="block">
            <h3>Inspection and Comparison</h3>
            <h4>Seeing what happened in your project</h4>
            <ul>
              <li><a href="#">log</a></li>
              <li><a href="#">diff</a></li>
            </ul>
          </div>

          <div class="block">
            <h3>Fixing and Changing History</h3>
            <h4>Cleaning changes up and moving them around</h4>
            <ul>
              <li><a href="#">rebase</a></li>
              <li><a href="#">revert</a></li>
              <li><a href="#">checkout</a></li>
            </ul>
          </div>

			</div>

      <div class="grid_9 home_box" id="content_box">
        {{ content }}
			</div>

			<div class="clear"></div>
		</div>
  </body>
</html>
