<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Tham Khảo Git</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/text.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/grid.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/layout.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/nav.css" media="screen" />
		<!--[if IE 6]><link rel="stylesheet" type="text/css" href="/css/ie6.css" media="screen" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen" /><![endif]-->
		<script type="text/javascript" src="/js/jquery-1.4.1.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/js/action.js"></script>
	</head>
	<body>
    <div class="container_12">

			<div class="grid_12">
				<span id="branding">Tham Khảo Git</span>
      </div>

			<div class="grid_12">
				<ul id="menu">
					<li><a id="menu_home" href="/vi/index.html">Tham Khảo</a></li>
          <!-- <li><a id="menu_cookbook" href="/vi/cookbook.html">Cookbook</a></li> -->
					<li><a id="menu_about" href="/vi/about.html">Tác Giả</a></li>
					<li>&#167;</li>
					<li><a href="https://github.com/git/git-reference">Mã Nguồn
                        Tài Liệu</a></li>
        </ul>
        <br/>
        &nbsp;
			</div>

			<div class="grid_2" id="reflist">
          <div class="block">
            <h3><a href="/vi/creating">Nhận và Tạo Dự Án</a></h3>
            <ul>
              <li><a href="/vi/creating/#init">init</a></li>
              <li><a href="/vi/creating/#clone">clone</a></li>
            </ul>
					</div>

          <div class="block">
            <h3><a href="/vi/basic">Cơ Bản Về Bản Sao</a></h3>
            <ul>
              <li><a href="/vi/basic/#add">add</a></li>
              <li><a href="/vi/basic/#status">status</a></li>
              <li><a href="/vi/basic/#diff">diff</a></li>
              <li><a href="/vi/basic/#commit">commit</a></li>
              <li><a href="/vi/basic/#reset">reset</a></li>
              <li><a href="/vi/basic/#rm-mv">rm, mv</a></li>
              <li><a href="/vi/basic/#stash">stash</a></li>
            </ul>
          </div>

          <div class="block">
            <h3><a href="/vi/branching">Phân Nhánh và Tích Hợp</a></h3>
            <ul>
              <li><a href="/vi/branching/#branch">branch</a></li>
              <li><a href="/vi/branching/#branch">checkout</a></li>
              <li><a href="/vi/branching/#merge">merge</a></li>
              <li><a href="/vi/branching/#log">log</a></li>
              <li><a href="/vi/branching/#tag">tag</a></li>
            </ul>
          </div>

          <div class="block">
            <h3><a href="/vi/remotes">Chia Sẻ và Cập Nhật Dự Án</a></h3>
            <ul>
              <li><a href="/vi/remotes/#fetch">fetch, pull</a></li>
              <li><a href="/vi/remotes/#push">push</a></li>
              <li><a href="/vi/remotes/#remote">remote</a></li>
            </ul>
          </div>

          <div class="block">
            <h3><a href="/vi/inspect">Kiểm Tra và So Sánh</a></h3>
            <ul>
              <li><a href="/vi/inspect/#log">log</a></li>
              <li><a href="/vi/inspect/#diff">diff</a></li>
            </ul>
          </div>

          <!--
          <div class="block">
            <h3><a href="/fixing">Fixing and Changing History</a></h3>
            <ul>
              <li><a href="/fixing/rebase.html">rebase</a></li>
              <li><a href="/fixing/revert.html">revert</a></li>
              <li><a href="/fixing/checkout.html">checkout</a></li>
              <li><a href="/fixing/reset.html">reset</a></li>
              <li><a href="/fixing/cherry-pick.html">cherry-pick</a></li>
            </ul>
          </div>
          -->
			</div>

      <div class="grid_10 home_box" id="content_box">
        {{ content }}
      </div>

			<div class="clear"></div>
		</div>
  </body>
</html>
